modules = ["web", "python-3.11", "nodejs-20", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["cairo", "fontconfig", "freetype", "fribidi", "gdk-pixbuf", "ghostscript", "glib", "glibcLocales", "harfbuzz", "lcms2", "libffi", "libimagequant", "libjpeg", "libpng", "libtiff", "libwebp", "libxcrypt", "openjpeg", "openssl", "pango", "postgresql", "shared-mime-info", "tcl", "tk", "zlib"]

[deployment]
deploymentTarget = "autoscale"
run = ["python", "replit_main.py"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Flask Server"

[[workflows.workflow]]
name = "Flask Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python replit_main.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 39453
externalPort = 3001

[[ports]]
localPort = 40127
externalPort = 3000

[[ports]]
localPort = 43681
externalPort = 3003

[[ports]]
localPort = 44177
externalPort = 3002

[[ports]]
localPort = 45391
externalPort = 4200

[[ports]]
localPort = 45877
externalPort = 5173

[agent]
integrations = ["flask_google_oauth==1.0.0", "python_openai==1.0.0", "python_database==1.0.0"]
expertMode = true
